body{
    margin:0 auto;
    padding:0;
}

header{ background-color: orange;}

header nav{
    color: white;
    padding:1em;
}

header nav a{
    color: white
}

h2{text-align: center;}
.forms{
    border:1px solid grey;
    max-width: 800px;
    margin:auto
}

#formSelectRoute div, #formRoute div, #formStaff div{
    display: flex;
    margin:1em 0
}

#formSelectRoute div .label, #formRoute div .label, #formStaff div .label{
    color:blue;
    
}

.routeSpecific{
    display:flex;
    background-color: aqua;
    padding: 0em 1em;
}
.routeSpecific div{
    background-color: bisque;
    border:1px solid blue;
    padding: 0.5em 1em;
}

.routeInfo{flex:6}
.routeInfo span {font-weight: bolder;}
.routeAction{flex:1}