/**************** [1] GENERAL ****************/
body{
    margin:0 auto;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
}

h2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-size: 36pt;
}

h2{text-align: center;}


/**************** [2] HEADER - NAV ****************/
header{
    background-color: darkblue;
    padding: 0px 1em;
    height: 70px;
    
}
header h1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color:white;
    margin-top:0;

}

header nav{
    height: 70px;
    width: 100%;
}
.linkHome{
    position: absolute;
    padding: 1em;
    margin:0;
}

header nav ul{
    float: right;
    margin: 0em;
}
header nav ul li{
    display: inline-block;
    line-height:calc(2);
    margin: 1em 0;
}
header nav a{text-decoration: none;}
header nav ul li a{
    color: white;
    font-size: 18px;
    padding: 1.3em 2em;    
}
header nav ul li a.active, header nav ul li a:hover{
    background:black;
    color:white;
    transition: 1s;
}
.checkbtn{
    float: right;
    margin-right: 1em;
    margin-top:1em;
    cursor: pointer;
    display: none;
}
#check{display: none;}
.imgMenu{width: 35px;}


@media (max-width:1150px) {
    header{padding: 0px;}
    header nav ul li a{ padding: 1.2em 1em;}
    
}
@media (max-width: 858px){
    .checkbtn{display: block;}
    header nav ul{
        position: fixed;
        width: 50%;
        height: auto;
        background: darkblue;
        top: 70px;
        left: -100%;
        text-align: center;
    }
    header{
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0px;
    }
    main{
        margin-top:70px;
        background: white;
    }

    header nav ul li{
        display: block;
        margin:0;     
        padding:0;
    }
    header nav ul li a{
        display: block;
        padding: 1em; 
  
    }

    header nav ul li a:hover{
        background: black;
    }
    #check:checked ~ ul{
        left:-40px;
    }
}
/**************** [3] FORMS ****************/

#formStaff div, #formRoute div{
    margin:1em 0
}

#formStaff, #formRoute, #formSelectRP{
    color:darkblue;
    background-color: #ebfbff;
    width: 800px;
    margin:auto;
    padding:0.5em;
}

.run{
    width: 50%;
    display: flex;
}
#formStaff label, #formRoute label, #formSelectRP label{
    line-height:calc(2);
}

.frm2element{
    display: flex;
}

.frm2element div, .frm2element2 div{
    border:0px solid green;
    width: 100%;
    display: flex;
}

.frm2element div input, .frm2element div label, .run input, .run label{
    border:0px blue solid;
    flex:1;   
}

.frm2element div input, .run input, .frm2element div select{
    border:1px solid darkblue;
    margin-right: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 10pt;
    background-color: white;
}

.frm2element div input:focus{
    background-color: white;
}

#formRoute .frm2element div label, #formSelectRP .frm2element div label{
    flex:1;
}
#formRoute .frm2element div input, #formSelectRP .frm2element div select{
    flex:2;
}
#formStaff button, #formRoute button, #formSelectRP button{
    background-color:#8de5fb;
    padding: 0.5em 2em;
    border-radius: 1em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14pt;
    color:black;
    cursor: pointer;
    transition-duration: 1s;
    transform: scale(0.9);   
}

#childrenQ{
    border:1px solid darkblue;
    margin-right: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 10pt;
    margin-left: 1em;
}

#staffInformation, #routeInformation, #rpInformation{
    margin-bottom: 2em;
    color:red
}

#formStaff button:hover, #formRoute button:hover, #formSelectRP button:hover{
    transform: scale(1);
}

.frm2element2{ display: flex;padding:0; margin:0; line-height:calc(2);}
.frm2element2div{display: flex; line-height:calc(2); padding:0; margin:0; }
.frm2element2div label{flex:1; padding:0; margin:0; line-height:calc(2);}
.inputRadio{flex:1}

/**************** [3.2] LIST OBJECTS  - @media ****************/
@media (max-width: 858px){

    #formStaff, #formRoute, #formSelectRP{
        width: auto;
        margin:auto;
        padding:0.5em;
    }
    .run input{
        flex:2
    }


    .frm2element div{
        display: block;

    }

    .frm2element div label, .frm2element div input{

        display: block;
        width: 90%;
    }

    .routeSpecific, .staffSpecific, .rpSpecific{
        width: auto;
        margin:auto;
        padding:0.5em;
    }
    


    .frm2element div input, .run input, .frm2element div select{
        padding: 0.8em 0.5em;

    }

    .routeSpecific{
        display: block;
    }

}
@media (max-width: 750px){
    

    .staffInfo p span, .rpInfo p span{
        display: block;
    }
}

@media (max-width: 500px){

    .frm2element, .run, .rpSpecific{

        display: block;
    }
    .frm2element div label, .frm2element div input, .run label, .run input{

        width: 90vw;
    }

    .staffSpecific{display: block;}
}
/**************** [4] LIST OBJECTS ****************/
.routeSpecific, .staffSpecific, .rpSpecific{
    display:flex;
    padding: 0.5em;
    color:darkblue;
    background-color: #ebfbff;
    width: 800px;
    margin:auto;
    border-bottom: 1px solid blue;
}

.routeSpecific:last-child, .staffSpecific:last-child, .rpSpecific:last-child{
    border: none;
}

.staffSpecific div p:first-child, .rpSpecific div p:first-child{
    font-weight: bolder;
}

/**************** [4] LIST OBJECTS - BUTTONS****************/
.staffAction button, .routeAction button, .rpAction button, .blockdisabled{
    margin-top:0.2em;
    padding: 0.5em 2em;
    border-radius: 1em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14pt;
    width: 175px;
    transition-duration: 1s;
}
.staffAction .edit, .routeAction .edit, .rpAction .edit{
    background-color:green;
    color:white;
    cursor: pointer;
    transform: scale(0.9); 
}
.staffAction .edit:hover, .routeAction .edit:hover, .rpAction .edit:hover{
    transform: scale(1);
    background-color:darkgreen;
    color:white
}

.staffAction .block, .routeAction .delete, .rpAction .delete{
    background-color:red;
    color:white;
    cursor: pointer;
    transform: scale(0.9);
}
.staffAction .block:hover, .routeAction .delete:hover, .rpAction .delete:hover{
    transform: scale(1);
    background-color:darkred;
    color:white;
}

.routeInfo, .staffInfo, .rpInfo{flex:6}
.routeInfo span {font-weight: bolder;}
.routeAction, .staffAction, .rpAction{flex:1}



/************** [5] FOOTER ********************/
footer{
    background-color: darkblue;   
    margin-top:1em;
    color:white;
    text-align: center;
    padding:0.5em;
}

footer div{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
}

footer div p{
    flex:1;
    color:white;
}
footer div p a{
    text-decoration: none;
    margin:0 0.5em;
    color:white
}

@media (max-width: 735px){
    footer div{display: block;}
}

/************** [6] STAFF - ENABLED/DISABLED ********************/
.Desbloquear{
    background: #ccc;
    color:grey;
}
.editdisabled{
    background-color:rgb(92, 92, 92);
    color:white;
    cursor: auto;
    transform: scale(0.9); 
    
}

.blockdisabled{
    background-color:green;
    color:white;
    cursor: auto;
    transform: scale(0.9); 
    

}

.blockdisabled:hover{
    background-color:darkgreen;
    color:white;
    cursor: auto;
    transform: scale(1); 
    
}






